<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="UsePlatformEncoding" value="True"/>
    </appSettings>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="www\bin"/>
      </assemblyBinding>
  </runtime></configuration>