.app-icon.app-icon-aas { background-image:url('../images/AAS.svg');}
.app-icon.app-icon-accelo { background-image:url('../images/accelo.svg');}
.app-icon.app-icon-access { background-image:url('../images/Access.svg');}
.app-icon.app-icon-actcrm { background-image:url('../images/ActCRM.svg');}
.app-icon.app-icon-actianvector { background-image:url('../images/actianvector.svg');}
.app-icon.app-icon-activecampaign { background-image:url('../images/activecampaign.svg');}
.app-icon.app-icon-activedirectory { background-image:url('../images/ActiveDirectory.svg');}
.app-icon.app-icon-acton { background-image:url('../images/ActOn.svg');}
.app-icon.app-icon-acuityscheduling { background-image:url('../images/acuityscheduling.svg');}
.app-icon.app-icon-acumatica { background-image:url('../images/acumatica.svg');}
.app-icon.app-icon-acxiom { background-image:url('../images/acxiom.svg');}
.app-icon.app-icon-adobeanalytics { background-image:url('../images/a_x_dobeanalytics.svg');}
.app-icon.app-icon-adobecommerce { background-image:url('../images/a_x_dobecommerce.svg');}
.app-icon.app-icon-adp { background-image:url('../images/a_x_dp.svg');}
.app-icon.app-icon-adroll { background-image:url('../images/a_x_droll.svg');}
.app-icon.app-icon-aftership { background-image:url('../images/aftership.svg');}
.app-icon.app-icon-agilecrm { background-image:url('../images/agilecrm.svg');}
.app-icon.app-icon-aha { background-image:url('../images/aha.svg');}
.app-icon.app-icon-ahrefs { background-image:url('../images/ahrefs.svg');}
.app-icon.app-icon-airbrakes { background-image:url('../images/airbrakes.svg');}
.app-icon.app-icon-aircall { background-image:url('../images/aircall.svg');}
.app-icon.app-icon-airtable { background-image:url('../images/airtable.svg');}
.app-icon.app-icon-alexantopsites { background-image:url('../images/alexantopsites.svg');}
.app-icon.app-icon-alexawebservices { background-image:url('../images/alexawebservices.svg');}
.app-icon.app-icon-alfresco { background-image:url('../images/Alfresco.svg');}
.app-icon.app-icon-alloydb { background-image:url('../images/alloydb.svg');}
.app-icon.app-icon-amazonathena { background-image:url('../images/AmazonAthena.svg');}
.app-icon.app-icon-amazondynamodb { background-image:url('../images/AmazonDynamoDB.svg');}
.app-icon.app-icon-amazonmarketplace { background-image:url('../images/amazonmarketplace.svg');}
.app-icon.app-icon-amazonrds { background-image:url('../images/AmazonRDS.svg');}
.app-icon.app-icon-amazons3 { background-image:url('../images/AmazonS3.svg');}
.app-icon.app-icon-amplitude { background-image:url('../images/amplitude.svg');}
.app-icon.app-icon-anaplan { background-image:url('../images/anaplan.svg');}
.app-icon.app-icon-anzo { background-image:url('../images/Anzo.svg');}
.app-icon.app-icon-apachecouchdb { background-image:url('../images/apachecouchdb.svg');}
.app-icon.app-icon-apachedrill { background-image:url('../images/apachedrill.svg');}
.app-icon.app-icon-apacheha_x_doop { background-image:url('../images/ApacheHa_x_doop.svg');}
.app-icon.app-icon-apachehadoop { background-image:url('../images/ApacheHa_x_doop.svg');}
.app-icon.app-icon-apachehbase { background-image:url('../images/ApacheHBase.svg');}
.app-icon.app-icon-apachehive { background-image:url('../images/ApacheHive.svg');}
.app-icon.app-icon-apacheimpala { background-image:url('../images/apacheimpala.svg');}
.app-icon.app-icon-apachekafka { background-image:url('../images/ApacheKafka.svg');}
.app-icon.app-icon-apachephoenix { background-image:url('../images/apachephoenix.svg');}
.app-icon.app-icon-api { background-image:url('../images/API.svg');}
.app-icon.app-icon-apis { background-image:url('../images/APIs.svg');}
.app-icon.app-icon-apptus { background-image:url('../images/apptus.svg');}
.app-icon.app-icon-aria { background-image:url('../images/aria.svg');}
.app-icon.app-icon-arxivreview { background-image:url('../images/arxivreview.svg');}
.app-icon.app-icon-asana { background-image:url('../images/asana.svg');}
.app-icon.app-icon-authorizenet { background-image:url('../images/AuthorizeNet.svg');}
.app-icon.app-icon-autify { background-image:url('../images/autify.svg');}
.app-icon.app-icon-autopilot { background-image:url('../images/autopilot.svg');}
.app-icon.app-icon-avalara { background-image:url('../images/avalara.svg');}
.app-icon.app-icon-avalaraavatax { background-image:url('../images/avalaraavatax.svg');}
.app-icon.app-icon-avro { background-image:url('../images/avro.svg');}
.app-icon.app-icon-aweber { background-image:url('../images/aweber.svg');}
.app-icon.app-icon-aws { background-image:url('../images/AWS.svg');}
.app-icon.app-icon-awsdatamanagement { background-image:url('../images/AWSDataManagement.svg');}
.app-icon.app-icon-azalea_x_d { background-image:url('../images/azalea_x_d.svg');}
.app-icon.app-icon-azalead { background-image:url('../images/azalea_x_d.svg');}
.app-icon.app-icon-azure { background-image:url('../images/Azure.svg');}
.app-icon.app-icon-azureblob { background-image:url('../images/AzureBlob.svg');}
.app-icon.app-icon-azuredatacatalog { background-image:url('../images/azuredatacatalog.svg');}
.app-icon.app-icon-azuredatalake { background-image:url('../images/AzureDataLake.svg');}
.app-icon.app-icon-azuredatamanagement { background-image:url('../images/AzureDataManagement.svg');}
.app-icon.app-icon-azuredevops { background-image:url('../images/azuredevops.svg');}
.app-icon.app-icon-azureeventhub { background-image:url('../images/AzureEventHub.svg');}
.app-icon.app-icon-azureeventhubs { background-image:url('../images/azureeventhubs.svg');}
.app-icon.app-icon-azuresynapse { background-image:url('../images/azuresynapse.svg');}
.app-icon.app-icon-azuretables { background-image:url('../images/AzureTables.svg');}
.app-icon.app-icon-backlog { background-image:url('../images/backlog.svg');}
.app-icon.app-icon-bamboohr { background-image:url('../images/bamboohr.svg');}
.app-icon.app-icon-base { background-image:url('../images/base.svg');}
.app-icon.app-icon-basecamp { background-image:url('../images/Basecamp.svg');}
.app-icon.app-icon-bcart { background-image:url('../images/bcart.svg');}
.app-icon.app-icon-benchmark { background-image:url('../images/benchmark.svg');}
.app-icon.app-icon-betterworks { background-image:url('../images/betterworks.svg');}
.app-icon.app-icon-bigcommerce { background-image:url('../images/bigcommerce.svg');}
.app-icon.app-icon-billsby { background-image:url('../images/billsby.svg');}
.app-icon.app-icon-bimeanalytics { background-image:url('../images/bimeanalytics.svg');}
.app-icon.app-icon-bing { background-image:url('../images/bing.svg');}
.app-icon.app-icon-binga_x_ds { background-image:url('../images/Binga_x_ds.svg');}
.app-icon.app-icon-bingads { background-image:url('../images/Binga_x_ds.svg');}
.app-icon.app-icon-bingsearch { background-image:url('../images/BingSearch.svg');}
.app-icon.app-icon-bitbucket { background-image:url('../images/bitbucket.svg');}
.app-icon.app-icon-bizerteam { background-image:url('../images/bizerteam.svg');}
.app-icon.app-icon-biztalkserver { background-image:url('../images/BiztalkServer.svg');}
.app-icon.app-icon-blackbaudraisersedgenx { background-image:url('../images/blackbaudraisersedgenx.svg');}
.app-icon.app-icon-bloomfire { background-image:url('../images/bloomfire.svg');}
.app-icon.app-icon-board { background-image:url('../images/board.svg');}
.app-icon.app-icon-box { background-image:url('../images/Box.svg');}
.app-icon.app-icon-branch { background-image:url('../images/branch.svg');}
.app-icon.app-icon-bridge { background-image:url('../images/Bridge.svg');}
.app-icon.app-icon-bronto { background-image:url('../images/bronto.svg');}
.app-icon.app-icon-btrieve { background-image:url('../images/Btrieve.svg');}
.app-icon.app-icon-buffer { background-image:url('../images/buffer.svg');}
.app-icon.app-icon-bugsnag { background-image:url('../images/bugsnag.svg');}
.app-icon.app-icon-bugzilla { background-image:url('../images/Bugzilla.svg');}
.app-icon.app-icon-builtwith { background-image:url('../images/builtwith.svg');}
.app-icon.app-icon-bullhorn { background-image:url('../images/Bullhorn.svg');}
.app-icon.app-icon-bullhorncrm { background-image:url('../images/BullhornCRM.svg');}
.app-icon.app-icon-businessbridge { background-image:url('../images/businessbridge.svg');}
.app-icon.app-icon-c1010 { background-image:url('../images/C1010.svg');}
.app-icon.app-icon-calendly { background-image:url('../images/calendly.svg');}
.app-icon.app-icon-callconnect { background-image:url('../images/callconnect.svg');}
.app-icon.app-icon-callrail { background-image:url('../images/callrail.svg');}
.app-icon.app-icon-camcardbusiness { background-image:url('../images/camcardbusiness.svg');}
.app-icon.app-icon-campaignmonitor { background-image:url('../images/campaignmonitor.svg');}
.app-icon.app-icon-capsulecrm { background-image:url('../images/capsulecrm.svg');}
.app-icon.app-icon-cassandra { background-image:url('../images/Cassandra.svg');}
.app-icon.app-icon-cds { background-image:url('../images/cds.svg');}
.app-icon.app-icon-chargebee { background-image:url('../images/chargebee.svg');}
.app-icon.app-icon-chargeover { background-image:url('../images/chargeover.svg');}
.app-icon.app-icon-chatwork { background-image:url('../images/chatwork.svg');}
.app-icon.app-icon-clicktime { background-image:url('../images/clicktime.svg');}
.app-icon.app-icon-clickup { background-image:url('../images/clickup.svg');}
.app-icon.app-icon-clockify { background-image:url('../images/clockify.svg');}
.app-icon.app-icon-close { background-image:url('../images/close.svg');}
.app-icon.app-icon-close_io { background-image:url('../images/close_io.svg');}
.app-icon.app-icon-closeio { background-image:url('../images/closeio.svg');}
.app-icon.app-icon-cloud { background-image:url('../images/Cloud.svg');}
.app-icon.app-icon-cloudant { background-image:url('../images/Cloudant.svg');}
.app-icon.app-icon-clouderaimpala { background-image:url('../images/ClouderaImpala.svg');}
.app-icon.app-icon-cloudsign { background-image:url('../images/CloudSign.svg');}
.app-icon.app-icon-clubhouse { background-image:url('../images/clubhouse.svg');}
.app-icon.app-icon-cockroachdb { background-image:url('../images/cockroachdb.svg');}
.app-icon.app-icon-codat { background-image:url('../images/codat.svg');}
.app-icon.app-icon-coinbase { background-image:url('../images/coinbase.svg');}
.app-icon.app-icon-collaboflow { background-image:url('../images/collaboflow.svg');}
.app-icon.app-icon-confluence { background-image:url('../images/confluence.svg');}
.app-icon.app-icon-connect { background-image:url('../images/connect.svg');}
.app-icon.app-icon-connectcloud { background-image:url('../images/connectcloud.svg');}
.app-icon.app-icon-connpass { background-image:url('../images/connpass.svg');}
.app-icon.app-icon-constantcontact { background-image:url('../images/constantcontact.svg');}
.app-icon.app-icon-contactually { background-image:url('../images/contactually.svg');}
.app-icon.app-icon-contify { background-image:url('../images/contify.svg');}
.app-icon.app-icon-convertkit { background-image:url('../images/convertkit.svg');}
.app-icon.app-icon-copper { background-image:url('../images/copper.svg');}
.app-icon.app-icon-cosmosdb { background-image:url('../images/CosmosDB.svg');}
.app-icon.app-icon-couchbase { background-image:url('../images/Couchbase.svg');}
.app-icon.app-icon-csv { background-image:url('../images/CSV.svg');}
.app-icon.app-icon-cybozuuser { background-image:url('../images/cybozuuser.svg');}
.app-icon.app-icon-d365businesscentral { background-image:url('../images/D365BusinessCentral.svg');}
.app-icon.app-icon-d365finop { background-image:url('../images/D365FinOp.svg');}
.app-icon.app-icon-d365sales { background-image:url('../images/D365Sales.svg');}
.app-icon.app-icon-databricks { background-image:url('../images/databricks.svg');}
.app-icon.app-icon-dataverse { background-image:url('../images/dataverse.svg');}
.app-icon.app-icon-db { background-image:url('../images/DB.svg');}
.app-icon.app-icon-db2 { background-image:url('../images/DB2.svg');}
.app-icon.app-icon-delighted { background-image:url('../images/delighted.svg');}
.app-icon.app-icon-digitalocean { background-image:url('../images/DigitalOcean.svg');}
.app-icon.app-icon-docusign { background-image:url('../images/DocuSign.svg');}
.app-icon.app-icon-dotmailer { background-image:url('../images/dotmailer.svg');}
.app-icon.app-icon-doubleclickcm { background-image:url('../images/doubleclickcm.svg');}
.app-icon.app-icon-doubleclickfp { background-image:url('../images/doubleclickfp.svg');}
.app-icon.app-icon-drift { background-image:url('../images/drift.svg');}
.app-icon.app-icon-drip { background-image:url('../images/drip.svg');}
.app-icon.app-icon-dropbox { background-image:url('../images/Dropbox.svg');}
.app-icon.app-icon-dynamics365 { background-image:url('../images/Dynamics365.svg');}
.app-icon.app-icon-dynamicsax { background-image:url('../images/DynamicsAX.svg');}
.app-icon.app-icon-dynamicscrm { background-image:url('../images/DynamicsCRM.svg');}
.app-icon.app-icon-dynamicsgp { background-image:url('../images/DynamicsGP.svg');}
.app-icon.app-icon-dynamicsnav { background-image:url('../images/DynamicsNAV.svg');}
.app-icon.app-icon-dz { background-image:url('../images/DZ.svg');}
.app-icon.app-icon-ebay analytics { background-image:url('../images/ebay analytics.svg');}
.app-icon.app-icon-ebay { background-image:url('../images/eBay.svg');}
.app-icon.app-icon-ebayanalytics { background-image:url('../images/ebayanalytics.svg');}
.app-icon.app-icon-edgaronline { background-image:url('../images/edgaronline.svg');}
.app-icon.app-icon-egnyte { background-image:url('../images/egnyte.svg');}
.app-icon.app-icon-elasticsearch { background-image:url('../images/Elasticsearch.svg');}
.app-icon.app-icon-eloqua { background-image:url('../images/eloqua.svg');}
.app-icon.app-icon-elorus { background-image:url('../images/elorus.svg');}
.app-icon.app-icon-email { background-image:url('../images/Email.svg');}
.app-icon.app-icon-enchant { background-image:url('../images/enchant.svg');}
.app-icon.app-icon-enterprisedb { background-image:url('../images/enterprisedb.svg');}
.app-icon.app-icon-epicorerp { background-image:url('../images/epicorerp.svg');}
.app-icon.app-icon-esa { background-image:url('../images/esa.svg');}
.app-icon.app-icon-esalesmanager { background-image:url('../images/esalesmanager.svg');}
.app-icon.app-icon-estat { background-image:url('../images/Estat.svg');}
.app-icon.app-icon-etra_x_de { background-image:url('../images/ETRa_x_dE.svg');}
.app-icon.app-icon-etrade { background-image:url('../images/ETRa_x_dE.svg');}
.app-icon.app-icon-eventbrite { background-image:url('../images/eventbrite.svg');}
.app-icon.app-icon-everhour { background-image:url('../images/everhour.svg');}
.app-icon.app-icon-evernote { background-image:url('../images/Evernote.svg');}
.app-icon.app-icon-exact { background-image:url('../images/Exact.svg');}
.app-icon.app-icon-exactonline { background-image:url('../images/ExactOnline.svg');}
.app-icon.app-icon-excel { background-image:url('../images/Excel.svg');}
.app-icon.app-icon-excelonline { background-image:url('../images/ExcelOnline.svg');}
.app-icon.app-icon-excelservices { background-image:url('../images/ExcelServices.svg');}
.app-icon.app-icon-exchange { background-image:url('../images/Exchange.svg');}
.app-icon.app-icon-facebook { background-image:url('../images/Facebook.svg');}
.app-icon.app-icon-facebooka_x_ds { background-image:url('../images/facebooka_x_ds.svg');}
.app-icon.app-icon-facebookads { background-image:url('../images/facebooka_x_ds.svg');}
.app-icon.app-icon-fedex { background-image:url('../images/FedEx.svg');}
.app-icon.app-icon-fhir { background-image:url('../images/fhir.svg');}
.app-icon.app-icon-figshare { background-image:url('../images/figshare.svg');}
.app-icon.app-icon-financialedgenxt { background-image:url('../images/FinancialEdgeNXT.svg');}
.app-icon.app-icon-financialforce { background-image:url('../images/FinancialForce.svg');}
.app-icon.app-icon-float { background-image:url('../images/float.svg');}
.app-icon.app-icon-folder { background-image:url('../images/folder.svg');}
.app-icon.app-icon-formstack { background-image:url('../images/formstack.svg');}
.app-icon.app-icon-foursquare { background-image:url('../images/foursquare.svg');}
.app-icon.app-icon-freee { background-image:url('../images/Freee.svg');}
.app-icon.app-icon-freeedp { background-image:url('../images/FreeeDP.svg');}
.app-icon.app-icon-freeehr { background-image:url('../images/FreeeHR.svg');}
.app-icon.app-icon-freeepm { background-image:url('../images/FreeePM.svg');}
.app-icon.app-icon-freshbooks { background-image:url('../images/FreshBooks.svg');}
.app-icon.app-icon-freshcaller { background-image:url('../images/freshcaller.svg');}
.app-icon.app-icon-freshdesk { background-image:url('../images/freshdesk.svg');}
.app-icon.app-icon-freshsales { background-image:url('../images/freshsales.svg');}
.app-icon.app-icon-freshservice { background-image:url('../images/freshservice.svg');}
.app-icon.app-icon-freshteam { background-image:url('../images/freshteam.svg');}
.app-icon.app-icon-freshworks { background-image:url('../images/freshworks.svg');}
.app-icon.app-icon-front { background-image:url('../images/front.svg');}
.app-icon.app-icon-ftp { background-image:url('../images/FTP.svg');}
.app-icon.app-icon-ganalytics { background-image:url('../images/Ganalytics.svg');}
.app-icon.app-icon-garoon { background-image:url('../images/garoon.svg');}
.app-icon.app-icon-generic { background-image:url('../images/Generic.svg');}
.app-icon.app-icon-getresponse { background-image:url('../images/getresponse.svg');}
.app-icon.app-icon-github { background-image:url('../images/GitHub.svg');}
.app-icon.app-icon-gmail { background-image:url('../images/gmail.svg');}
.app-icon.app-icon-gmomakeshop { background-image:url('../images/GMOMakeShop.svg');}
.app-icon.app-icon-googleads { background-image:url('../images/googlea_x_ds.svg');}
.app-icon.app-icon-googleadsmanager { background-image:url('../images/googlea_x_dsmanager.svg');}
.app-icon.app-icon-googleanalytics { background-image:url('../images/googleanalytics.svg');}
.app-icon.app-icon-googlebigquery { background-image:url('../images/GoogleBigQuery.svg');}
.app-icon.app-icon-googlecalendar { background-image:url('../images/GoogleCalendar.svg');}
.app-icon.app-icon-googlecloudsql { background-image:url('../images/GoogleCloudSQL.svg');}
.app-icon.app-icon-googlecloudstorage { background-image:url('../images/googlecloudstorage.svg');}
.app-icon.app-icon-googlecm { background-image:url('../images/GoogleCM.svg');}
.app-icon.app-icon-googlecontacts { background-image:url('../images/googlecontacts.svg');}
.app-icon.app-icon-googledatacatalog { background-image:url('../images/googledatacatalog.svg');}
.app-icon.app-icon-googledirectory { background-image:url('../images/GoogleDirectory.svg');}
.app-icon.app-icon-googledrive { background-image:url('../images/googledrive.svg');}
.app-icon.app-icon-googlemaps { background-image:url('../images/GoogleMaps.svg');}
.app-icon.app-icon-googlesearch { background-image:url('../images/GoogleSearch.svg');}
.app-icon.app-icon-googlesheets { background-image:url('../images/googlesheets.svg');}
.app-icon.app-icon-googlespanner { background-image:url('../images/GoogleSpanner.svg');}
.app-icon.app-icon-gorgias { background-image:url('../images/gorgias.svg');}
.app-icon.app-icon-grafana { background-image:url('../images/grafana.svg');}
.app-icon.app-icon-graphql { background-image:url('../images/graphql.svg');}
.app-icon.app-icon-greenplum { background-image:url('../images/Greenplum.svg');}
.app-icon.app-icon-groove { background-image:url('../images/groove.svg');}
.app-icon.app-icon-harperdb { background-image:url('../images/HarperDB.svg');}
.app-icon.app-icon-harvest { background-image:url('../images/harvest.svg');}
.app-icon.app-icon-hatenablog { background-image:url('../images/hatenablog.svg');}
.app-icon.app-icon-hcldomino { background-image:url('../images/hcldomino.svg');}
.app-icon.app-icon-hdfs { background-image:url('../images/hdfs.svg');}
.app-icon.app-icon-hellosign { background-image:url('../images/hellosign.svg');}
.app-icon.app-icon-helpscout { background-image:url('../images/helpscout.svg');}
.app-icon.app-icon-heroku { background-image:url('../images/heroku.svg');}
.app-icon.app-icon-highrise { background-image:url('../images/Highrise.svg');}
.app-icon.app-icon-highrisecrm { background-image:url('../images/HighriseCRM.svg');}
.app-icon.app-icon-hive { background-image:url('../images/hive.svg');}
.app-icon.app-icon-hotprofile { background-image:url('../images/hotprofile.svg');}
.app-icon.app-icon-hpcc { background-image:url('../images/HPCC.svg');}
.app-icon.app-icon-hubspot { background-image:url('../images/HubSpot.svg');}
.app-icon.app-icon-humanity { background-image:url('../images/humanity.svg');}
.app-icon.app-icon-ibmcloud { background-image:url('../images/IBMCloud.svg');}
.app-icon.app-icon-ibmcloudant { background-image:url('../images/IBMCloudant.svg');}
.app-icon.app-icon-ibmcloudobjectstorage { background-image:url('../images/ibmcloudobjectstorage.svg');}
.app-icon.app-icon-ibmcloudsqlquery { background-image:url('../images/IBMCloudSQLQuery.svg');}
.app-icon.app-icon-ibmfoodstrust { background-image:url('../images/IBMFoodsTrust.svg');}
.app-icon.app-icon-ibmfoodtrust { background-image:url('../images/IBMFoodTrust.svg');}
.app-icon.app-icon-ibminformix { background-image:url('../images/ibminformix.svg');}
.app-icon.app-icon-ieyasu { background-image:url('../images/ieyasu.svg');}
.app-icon.app-icon-insightly { background-image:url('../images/insightly.svg');}
.app-icon.app-icon-instagram { background-image:url('../images/Instagram.svg');}
.app-icon.app-icon-intacct { background-image:url('../images/Intacct.svg');}
.app-icon.app-icon-intercom { background-image:url('../images/intercom.svg');}
.app-icon.app-icon-intuit partner platform { background-image:url('../images/Intuit Partner Platform.svg');}
.app-icon.app-icon-invoiced { background-image:url('../images/invoiced.svg');}
.app-icon.app-icon-ipp { background-image:url('../images/IPP.svg');}
.app-icon.app-icon-iva { background-image:url('../images/iva.svg');}
.app-icon.app-icon-jira { background-image:url('../images/JIRA.svg');}
.app-icon.app-icon-jiraservicedesk { background-image:url('../images/jiraservicedesk.svg');}
.app-icon.app-icon-jmaxml { background-image:url('../images/JMAXML.svg');}
.app-icon.app-icon-jotform { background-image:url('../images/jotform.svg');}
.app-icon.app-icon-json { background-image:url('../images/JSON.svg');}
.app-icon.app-icon-jumpseller { background-image:url('../images/jumpseller.svg');}
.app-icon.app-icon-kafka { background-image:url('../images/kafka.svg');}
.app-icon.app-icon-kincone { background-image:url('../images/kincone.svg');}
.app-icon.app-icon-kingdee { background-image:url('../images/kingdee.svg');}
.app-icon.app-icon-kingoftime { background-image:url('../images/kingoftime.svg');}
.app-icon.app-icon-kintone { background-image:url('../images/Kintone.svg');}
.app-icon.app-icon-klaviyo { background-image:url('../images/klaviyo.svg');}
.app-icon.app-icon-knowledgeowl { background-image:url('../images/knowledgeowl.svg');}
.app-icon.app-icon-kotlin { background-image:url('../images/Kotlin.svg');}
.app-icon.app-icon-launchdarkly { background-image:url('../images/launchdarkly.svg');}
.app-icon.app-icon-ldap { background-image:url('../images/LDAP.svg');}
.app-icon.app-icon-lea_x_ddesk { background-image:url('../images/lea_x_ddesk.svg');}
.app-icon.app-icon-leaddesk { background-image:url('../images/lea_x_ddesk.svg');}
.app-icon.app-icon-linkedin { background-image:url('../images/LinkedIn.svg');}
.app-icon.app-icon-linkedina_x_ds { background-image:url('../images/linkedina_x_ds.svg');}
.app-icon.app-icon-linkedinads { background-image:url('../images/linkedina_x_ds.svg');}
.app-icon.app-icon-liondesk { background-image:url('../images/liondesk.svg');}
.app-icon.app-icon-liveservices { background-image:url('../images/LiveServices.svg');}
.app-icon.app-icon-logikura { background-image:url('../images/logikura.svg');}
.app-icon.app-icon-logiless { background-image:url('../images/logiless.svg');}
.app-icon.app-icon-lohaco { background-image:url('../images/Lohaco.svg');}
.app-icon.app-icon-magento { background-image:url('../images/Magento.svg');}
.app-icon.app-icon-mailchimp { background-image:url('../images/MailChimp.svg');}
.app-icon.app-icon-mailjet { background-image:url('../images/mailjet.svg');}
.app-icon.app-icon-maria_x_db { background-image:url('../images/Maria_x_dB.svg');}
.app-icon.app-icon-mariadb { background-image:url('../images/Maria_x_dB.svg');}
.app-icon.app-icon-markerisecloud { background-image:url('../images/markerisecloud.svg');}
.app-icon.app-icon-marketo { background-image:url('../images/marketo.svg');}
.app-icon.app-icon-marklogic { background-image:url('../images/MarkLogic.svg');}
.app-icon.app-icon-mattermark { background-image:url('../images/mattermark.svg');}
.app-icon.app-icon-mendix { background-image:url('../images/mendix.svg');}
.app-icon.app-icon-messagebird { background-image:url('../images/messagebird.svg');}
.app-icon.app-icon-mfexpense { background-image:url('../images/MFExpense.svg');}
.app-icon.app-icon-mfinvoice { background-image:url('../images/MFInvoice.svg');}
.app-icon.app-icon-microsoftonelake { background-image:url('../images/MicrosoftOneLake.svg');}
.app-icon.app-icon-microsoftplanner { background-image:url('../images/microsoftplanner.svg');}
.app-icon.app-icon-microsoftproject { background-image:url('../images/microsoftproject.svg');}
.app-icon.app-icon-mode { background-image:url('../images/mode.svg');}
.app-icon.app-icon-monday { background-image:url('../images/monday.svg');}
.app-icon.app-icon-moneyforward { background-image:url('../images/moneyforward.svg');}
.app-icon.app-icon-mongodb { background-image:url('../images/MongoDB.svg');}
.app-icon.app-icon-moosend { background-image:url('../images/moosend.svg');}
.app-icon.app-icon-msplanner { background-image:url('../images/msplanner.svg');}
.app-icon.app-icon-msteams { background-image:url('../images/msteams.svg');}
.app-icon.app-icon-myob { background-image:url('../images/MyOB.svg');}
.app-icon.app-icon-myobaccountingright { background-image:url('../images/myobaccountingright.svg');}
.app-icon.app-icon-mysql { background-image:url('../images/MySQL.svg');}
.app-icon.app-icon-nethunt { background-image:url('../images/nethunt.svg');}
.app-icon.app-icon-netsuite { background-image:url('../images/NetSuite.svg');}
.app-icon.app-icon-oanda { background-image:url('../images/oanda.svg');}
.app-icon.app-icon-odata { background-image:url('../images/OData.svg');}
.app-icon.app-icon-odbc { background-image:url('../images/ODBC.svg');}
.app-icon.app-icon-odoo { background-image:url('../images/Odoo.svg');}
.app-icon.app-icon-office365 { background-image:url('../images/Office365.svg');}
.app-icon.app-icon-ofx { background-image:url('../images/OFX.svg');}
.app-icon.app-icon-omnisend { background-image:url('../images/omnisend.svg');}
.app-icon.app-icon-onda { background-image:url('../images/onda.svg');}
.app-icon.app-icon-onedrive { background-image:url('../images/onedrive.svg');}
.app-icon.app-icon-onenote { background-image:url('../images/onenote.svg');}
.app-icon.app-icon-onepointprojects { background-image:url('../images/onepointprojects.svg');}
.app-icon.app-icon-ontraport { background-image:url('../images/ontraport.svg');}
.app-icon.app-icon-openexchangerates { background-image:url('../images/OpenExchangeRates.svg');}
.app-icon.app-icon-opsgenie { background-image:url('../images/opsgenie.svg');}
.app-icon.app-icon-optimizely { background-image:url('../images/optimizely.svg');}
.app-icon.app-icon-oracelsalescloud { background-image:url('../images/oracelsalescloud.svg');}
.app-icon.app-icon-oracle { background-image:url('../images/Oracle.svg');}
.app-icon.app-icon-oraclecrm { background-image:url('../images/OracleCRM.svg');}
.app-icon.app-icon-oracledb { background-image:url('../images/OracleDB.svg');}
.app-icon.app-icon-oracleeloqua { background-image:url('../images/OracleEloqua.svg');}
.app-icon.app-icon-oracleerp { background-image:url('../images/oracleerp.svg');}
.app-icon.app-icon-oraclefinancialscloud { background-image:url('../images/oraclefinancialscloud.svg');}
.app-icon.app-icon-oraclehcm { background-image:url('../images/oraclehcm.svg');}
.app-icon.app-icon-oracleoci { background-image:url('../images/OracleOCI.svg');}
.app-icon.app-icon-oraclesalescloud { background-image:url('../images/OracleSalesCloud.svg');}
.app-icon.app-icon-oraclescm { background-image:url('../images/oraclescm.svg');}
.app-icon.app-icon-outlook { background-image:url('../images/outlook.svg');}
.app-icon.app-icon-outreach { background-image:url('../images/outreach.svg');}
.app-icon.app-icon-pagerduty { background-image:url('../images/pagerduty.svg');}
.app-icon.app-icon-parquet { background-image:url('../images/parquet.svg');}
.app-icon.app-icon-paylocity { background-image:url('../images/paylocity.svg');}
.app-icon.app-icon-paymo { background-image:url('../images/paymo.svg');}
.app-icon.app-icon-paypal { background-image:url('../images/PayPal.svg');}
.app-icon.app-icon-payrun { background-image:url('../images/payrun.svg');}
.app-icon.app-icon-pcaaccounting { background-image:url('../images/PCAAccounting.svg');}
.app-icon.app-icon-pcasales { background-image:url('../images/PCASales.svg');}
.app-icon.app-icon-persistiq { background-image:url('../images/persistiq.svg');}
.app-icon.app-icon-pingdom { background-image:url('../images/pingdom.svg');}
.app-icon.app-icon-pinterest { background-image:url('../images/pinterest.svg');}
.app-icon.app-icon-pipedrive { background-image:url('../images/pipedrive.svg');}
.app-icon.app-icon-pipelinedeals { background-image:url('../images/pipelinedeals.svg');}
.app-icon.app-icon-pipeliner { background-image:url('../images/pipeliner.svg');}
.app-icon.app-icon-piplinedeals { background-image:url('../images/piplinedeals.svg');}
.app-icon.app-icon-pivitoltracker { background-image:url('../images/pivitoltracker.svg');}
.app-icon.app-icon-pivotaltracker { background-image:url('../images/pivotaltracker.svg');}
.app-icon.app-icon-planio { background-image:url('../images/planio.svg');}
.app-icon.app-icon-ponparemall { background-image:url('../images/Ponparemall.svg');}
.app-icon.app-icon-postcodejp { background-image:url('../images/postcodeJP.svg');}
.app-icon.app-icon-postgresql { background-image:url('../images/PostgreSQL.svg');}
.app-icon.app-icon-powerbixmla { background-image:url('../images/powerbixmla.svg');}
.app-icon.app-icon-powershell { background-image:url('../images/PowerShell.svg');}
.app-icon.app-icon-preemptive { background-image:url('../images/Preemptive.svg');}
.app-icon.app-icon-presto { background-image:url('../images/Presto.svg');}
.app-icon.app-icon-printful { background-image:url('../images/printful.svg');}
.app-icon.app-icon-printify { background-image:url('../images/printify.svg');}
.app-icon.app-icon-prodpa_x_d { background-image:url('../images/prodpa_x_d.svg');}
.app-icon.app-icon-prodpad { background-image:url('../images/prodpa_x_d.svg');}
.app-icon.app-icon-propa_x_d { background-image:url('../images/propa_x_d.svg');}
.app-icon.app-icon-propad { background-image:url('../images/propa_x_d.svg');}
.app-icon.app-icon-pubnub { background-image:url('../images/pubnub.svg');}
.app-icon.app-icon-qiita { background-image:url('../images/qiita.svg');}
.app-icon.app-icon-qoo10 { background-image:url('../images/Qoo10.svg');}
.app-icon.app-icon-quandl { background-image:url('../images/Quandl.svg');}
.app-icon.app-icon-quickbase { background-image:url('../images/quickbase.svg');}
.app-icon.app-icon-quickbooks { background-image:url('../images/QuickBooks.svg');}
.app-icon.app-icon-quickbooksonline { background-image:url('../images/QuickBooksOnline.svg');}
.app-icon.app-icon-quickbookspos { background-image:url('../images/QuickBooksPOS.svg');}
.app-icon.app-icon-rakuten { background-image:url('../images/Rakuten.svg');}
.app-icon.app-icon-reckon { background-image:url('../images/Reckon.svg');}
.app-icon.app-icon-recurly { background-image:url('../images/recurly.svg');}
.app-icon.app-icon-redis { background-image:url('../images/Redis.svg');}
.app-icon.app-icon-redshift { background-image:url('../images/RedShift.svg');}
.app-icon.app-icon-rest { background-image:url('../images/REST.svg');}
.app-icon.app-icon-retently { background-image:url('../images/retently.svg');}
.app-icon.app-icon-rss { background-image:url('../images/RSS.svg');}
.app-icon.app-icon-safie { background-image:url('../images/safie.svg');}
.app-icon.app-icon-sage { background-image:url('../images/Sage.svg');}
.app-icon.app-icon-sage200 { background-image:url('../images/sage200.svg');}
.app-icon.app-icon-sage300 { background-image:url('../images/sage300.svg');}
.app-icon.app-icon-sage50uk { background-image:url('../images/Sage50UK.svg');}
.app-icon.app-icon-sagebcaccounting { background-image:url('../images/sagebcaccounting.svg');}
.app-icon.app-icon-sageintacct { background-image:url('../images/SageIntacct.svg');}
.app-icon.app-icon-sageus { background-image:url('../images/SageUS.svg');}
.app-icon.app-icon-salesforce { background-image:url('../images/Salesforce.svg');}
.app-icon.app-icon-salesforcechatter { background-image:url('../images/SalesforceChatter.svg');}
.app-icon.app-icon-salesforceeinstein { background-image:url('../images/salesforceeinstein.svg');}
.app-icon.app-icon-salesforcemarketingcloud { background-image:url('../images/salesforcemarketingcloud.svg');}
.app-icon.app-icon-salesforcepardot { background-image:url('../images/salesforcepardot.svg');}
.app-icon.app-icon-salesforcesalescloud { background-image:url('../images/salesforcesalescloud.svg');}
.app-icon.app-icon-salesloft { background-image:url('../images/salesloft.svg');}
.app-icon.app-icon-salestaxiapi { background-image:url('../images/salestaxiapi.svg');}
.app-icon.app-icon-samanage { background-image:url('../images/samanage.svg');}
.app-icon.app-icon-sansan { background-image:url('../images/sansan.svg');}
.app-icon.app-icon-sap { background-image:url('../images/SAP.svg');}
.app-icon.app-icon-saparibaprocurement { background-image:url('../images/saparibaprocurement.svg');}
.app-icon.app-icon-saparibasource { background-image:url('../images/saparibasource.svg');}
.app-icon.app-icon-sapbiplatform { background-image:url('../images/sapbiplatform.svg');}
.app-icon.app-icon-sapbusinessobjectsbi { background-image:url('../images/sapbusinessobjectsbi.svg');}
.app-icon.app-icon-sapbusinessone { background-image:url('../images/SAPBusinessOne.svg');}
.app-icon.app-icon-sapbydesign { background-image:url('../images/sapbydesign.svg');}
.app-icon.app-icon-sapconcur { background-image:url('../images/SAPConcur.svg');}
.app-icon.app-icon-saperp { background-image:url('../images/SAPERP.svg');}
.app-icon.app-icon-sapfieldglass { background-image:url('../images/sapfieldglass.svg');}
.app-icon.app-icon-sapgateway { background-image:url('../images/sapgateway.svg');}
.app-icon.app-icon-saphana { background-image:url('../images/SAPHANA.svg');}
.app-icon.app-icon-saphanaxsa { background-image:url('../images/saphanaxsa.svg');}
.app-icon.app-icon-saphybrisc4c { background-image:url('../images/SAPHybrisC4C.svg');}
.app-icon.app-icon-sapsuccessfactors { background-image:url('../images/sapsuccessfactors.svg');}
.app-icon.app-icon-sasdatsets { background-image:url('../images/sasdatsets.svg');}
.app-icon.app-icon-sasxpt { background-image:url('../images/sasxpt.svg');}
.app-icon.app-icon-sendgrid { background-image:url('../images/SendGrid.svg');}
.app-icon.app-icon-sendinblue { background-image:url('../images/sendinblue.svg');}
.app-icon.app-icon-sendwithus { background-image:url('../images/sendwithus.svg');}
.app-icon.app-icon-senses { background-image:url('../images/senses.svg');}
.app-icon.app-icon-senseway { background-image:url('../images/senseway.svg');}
.app-icon.app-icon-servicem8 { background-image:url('../images/servicem8.svg');}
.app-icon.app-icon-servicenow { background-image:url('../images/servicenow.svg');}
.app-icon.app-icon-sfeinsteinanalytics { background-image:url('../images/SFEinsteinAnalytics.svg');}
.app-icon.app-icon-sfmarketingcloud { background-image:url('../images/SFMarketingCloud.svg');}
.app-icon.app-icon-sfsalescloud { background-image:url('../images/SFSalesCloud.svg');}
.app-icon.app-icon-sftp { background-image:url('../images/SFTP.svg');}
.app-icon.app-icon-sharepoint { background-image:url('../images/SharePoint.svg');}
.app-icon.app-icon-shipengine { background-image:url('../images/shipengine.svg');}
.app-icon.app-icon-shippo { background-image:url('../images/shippo.svg');}
.app-icon.app-icon-shipstation { background-image:url('../images/shipstation.svg');}
.app-icon.app-icon-shopify { background-image:url('../images/Shopify.svg');}
.app-icon.app-icon-simpledb { background-image:url('../images/SimpleDB.svg');}
.app-icon.app-icon-singlestore { background-image:url('../images/singlestore.svg');}
.app-icon.app-icon-slack { background-image:url('../images/slack.svg');}
.app-icon.app-icon-slamdata { background-image:url('../images/SlamData.svg');}
.app-icon.app-icon-slicingdice { background-image:url('../images/SlicingDice.svg');}
.app-icon.app-icon-smaregi { background-image:url('../images/smaregi.svg');}
.app-icon.app-icon-smartdrive { background-image:url('../images/smartdrive.svg');}
.app-icon.app-icon-smartsheet { background-image:url('../images/Smartsheet.svg');}
.app-icon.app-icon-snapchata_x_ds { background-image:url('../images/snapchata_x_ds.svg');}
.app-icon.app-icon-snapchatads { background-image:url('../images/snapchata_x_ds.svg');}
.app-icon.app-icon-snowflake { background-image:url('../images/Snowflake.svg');}
.app-icon.app-icon-solarwindsservicedesk { background-image:url('../images/solarwindsservicedesk.svg');}
.app-icon.app-icon-spacex { background-image:url('../images/spacex.svg');}
.app-icon.app-icon-sparkpost { background-image:url('../images/sparkpost.svg');}
.app-icon.app-icon-sparksql { background-image:url('../images/SparkSQL.svg');}
.app-icon.app-icon-spexcel { background-image:url('../images/SPexcel.svg');}
.app-icon.app-icon-splunk { background-image:url('../images/Splunk.svg');}
.app-icon.app-icon-sql { background-image:url('../images/SQL.svg');}
.app-icon.app-icon-sqlite { background-image:url('../images/SQLite.svg');}
.app-icon.app-icon-sqlserver { background-image:url('../images/sqlserver.svg');}
.app-icon.app-icon-square { background-image:url('../images/Square.svg');}
.app-icon.app-icon-ssas { background-image:url('../images/SSAS.svg');}
.app-icon.app-icon-ssis { background-image:url('../images/SSIS.svg');}
.app-icon.app-icon-stackexchange { background-image:url('../images/stackexchange.svg');}
.app-icon.app-icon-stackoverflow { background-image:url('../images/stackoverflow.svg');}
.app-icon.app-icon-streak { background-image:url('../images/streak.svg');}
.app-icon.app-icon-stripe { background-image:url('../images/Stripe.svg');}
.app-icon.app-icon-sugarcrm { background-image:url('../images/sugarcrm.svg');}
.app-icon.app-icon-suitecrm { background-image:url('../images/SuiteCRM.svg');}
.app-icon.app-icon-surveymonkey { background-image:url('../images/SurveyMonkey.svg');}
.app-icon.app-icon-swell { background-image:url('../images/swell.svg');}
.app-icon.app-icon-sybase { background-image:url('../images/SyBase.svg');}
.app-icon.app-icon-sybaseiq { background-image:url('../images/sybaseiq.svg');}
.app-icon.app-icon-tableaucrm { background-image:url('../images/tableaucrm.svg');}
.app-icon.app-icon-tally { background-image:url('../images/tally.svg');}
.app-icon.app-icon-taxjar { background-image:url('../images/taxjar.svg');}
.app-icon.app-icon-taxrates { background-image:url('../images/taxrates.svg');}
.app-icon.app-icon-teamgate { background-image:url('../images/teamgate.svg');}
.app-icon.app-icon-teamwork { background-image:url('../images/teamwork.svg');}
.app-icon.app-icon-tera_x_data { background-image:url('../images/Tera_x_data.svg');}
.app-icon.app-icon-teradata { background-image:url('../images/Tera_x_data.svg');}
.app-icon.app-icon-threedcart { background-image:url('../images/threedcart.svg');}
.app-icon.app-icon-ticketmaster { background-image:url('../images/ticketmaster.svg');}
.app-icon.app-icon-tigergraph { background-image:url('../images/tigergraph.svg');}
.app-icon.app-icon-timely { background-image:url('../images/timely.svg');}
.app-icon.app-icon-timeneye { background-image:url('../images/timeneye.svg');}
.app-icon.app-icon-todoist { background-image:url('../images/todoist.svg');}
.app-icon.app-icon-toggl { background-image:url('../images/toggl.svg');}
.app-icon.app-icon-trello { background-image:url('../images/trello.svg');}
.app-icon.app-icon-tsheets { background-image:url('../images/tsheets.svg');}
.app-icon.app-icon-twilio { background-image:url('../images/Twilio.svg');}
.app-icon.app-icon-twitter { background-image:url('../images/Twitter.svg');}
.app-icon.app-icon-twittera_x_ds { background-image:url('../images/twittera_x_ds.svg');}
.app-icon.app-icon-twitterads { background-image:url('../images/twittera_x_ds.svg');}
.app-icon.app-icon-typeform { background-image:url('../images/typeform.svg');}
.app-icon.app-icon-ubiregi { background-image:url('../images/ubiregi.svg');}
.app-icon.app-icon-umsaascloud { background-image:url('../images/UMSaaSCloud.svg');}
.app-icon.app-icon-unbounce { background-image:url('../images/unbounce.svg');}
.app-icon.app-icon-ups { background-image:url('../images/UPS.svg');}
.app-icon.app-icon-uscongress { background-image:url('../images/USCongress.svg');}
.app-icon.app-icon-usps { background-image:url('../images/usps.svg');}
.app-icon.app-icon-veeva { background-image:url('../images/veeva.svg');}
.app-icon.app-icon-veevacrm { background-image:url('../images/veevacrm.svg');}
.app-icon.app-icon-veevavault { background-image:url('../images/VeevaVault.svg');}
.app-icon.app-icon-vertica { background-image:url('../images/vertica.svg');}
.app-icon.app-icon-vsonline { background-image:url('../images/VSOnline.svg');}
.app-icon.app-icon-vwo { background-image:url('../images/vwo.svg');}
.app-icon.app-icon-wavefinancial { background-image:url('../images/wavefinancial.svg');}
.app-icon.app-icon-wistia { background-image:url('../images/wistia.svg');}
.app-icon.app-icon-woocommerce { background-image:url('../images/woocommerce.svg');}
.app-icon.app-icon-wordpress { background-image:url('../images/WordPress.svg');}
.app-icon.app-icon-workday { background-image:url('../images/Workday.svg');}
.app-icon.app-icon-workstack { background-image:url('../images/workstack.svg');}
.app-icon.app-icon-wowma { background-image:url('../images/Wowma.svg');}
.app-icon.app-icon-wrike { background-image:url('../images/wrike.svg');}
.app-icon.app-icon-wunderlist { background-image:url('../images/wunderlist.svg');}
.app-icon.app-icon-xbase { background-image:url('../images/xBase.svg');}
.app-icon.app-icon-xcart { background-image:url('../images/xcart.svg');}
.app-icon.app-icon-xero { background-image:url('../images/Xero.svg');}
.app-icon.app-icon-xeroworkflowmax { background-image:url('../images/xeroworkflowmax.svg');}
.app-icon.app-icon-xml { background-image:url('../images/XML.svg');}
.app-icon.app-icon-yahooa_x_ds { background-image:url('../images/yahooa_x_ds.svg');}
.app-icon.app-icon-yahooads { background-image:url('../images/yahooa_x_ds.svg');}
.app-icon.app-icon-yahoods { background-image:url('../images/yahoods.svg');}
.app-icon.app-icon-yahooshopping { background-image:url('../images/yahooshopping.svg');}
.app-icon.app-icon-yelp { background-image:url('../images/yelp.svg');}
.app-icon.app-icon-yotpo { background-image:url('../images/yotpo.svg');}
.app-icon.app-icon-youtube { background-image:url('../images/YouTube.svg');}
.app-icon.app-icon-youtubeanalytics { background-image:url('../images/YoutubeAnalytics.svg');}
.app-icon.app-icon-zaico { background-image:url('../images/zaico.svg');}
.app-icon.app-icon-zendesk { background-image:url('../images/Zendesk.svg');}
.app-icon.app-icon-zendesksell { background-image:url('../images/zendesksell.svg');}
.app-icon.app-icon-zenefits { background-image:url('../images/zenefits.svg');}
.app-icon.app-icon-zenkit { background-image:url('../images/zenkit.svg');}
.app-icon.app-icon-zohobooks { background-image:url('../images/zohobooks.svg');}
.app-icon.app-icon-zohocreator { background-image:url('../images/zohocreator.svg');}
.app-icon.app-icon-zohocrm { background-image:url('../images/zohocrm.svg');}
.app-icon.app-icon-zohodesk { background-image:url('../images/zohodesk.svg');}
.app-icon.app-icon-zohoinventory { background-image:url('../images/zohoinventory.svg');}
.app-icon.app-icon-zohopeople { background-image:url('../images/zohopeople.svg');}
.app-icon.app-icon-zohoprojects { background-image:url('../images/ZohoProjects.svg');}
.app-icon.app-icon-zoom { background-image:url('../images/zoom.svg');}
.app-icon.app-icon-zuora { background-image:url('../images/zuora.svg');}
.app-icon.app-icon-azuresqldatabase { background-image:url('../images/Azure.svg');}
.app-icon.app-icon-amazons3sync { background-image:url('../images/AmazonS3.svg');}
.app-icon.app-icon-azureblobdestination { background-image:url('../images/AzureBlob.svg');}
.app-icon.app-icon-microsoftaccess { background-image:url('../images/Access.svg');}
.app-icon.app-icon-csvdestination { background-image:url('../images/CSV.svg');}
.app-icon.app-icon-cloudsqlformysql { background-image:url('../images/MySQL.svg');}
.app-icon.app-icon-cloudsqlforpostgresql { background-image:url('../images/PostgreSQL.svg');}
.app-icon.app-icon-managedoracle { background-image:url('../images/Oracle.svg');}
.app-icon.app-icon-googlecloudstoragedestination { background-image:url('../images/googlecloudstorage.svg');}
.app-icon.app-icon-aupaymarket { background-image:url('../images/Wowma.svg');}
.app-icon.app-icon-dynamodb { background-image: url('../images/AmazonDynamoDB.svg');}
.app-icon.app-icon-rds { background-image:url('../images/AmazonRDS.svg');}
.app-icon.app-icon-s3 { background-image:url('../images/AmazonS3.svg');}
.app-icon.app-icon-hadoop { background-image:url('../images/ApacheHadoop.svg');}
.app-icon.app-icon-hbase { background-image:url('../images/ApacheHBase.svg');}
.app-icon.app-icon-authorizedotnet { background-image:url('../images/AuthorizeNet.svg');}
.app-icon.app-icon-azureblobstorage { background-image:url('../images/AzureBlob.svg');}
.app-icon.app-icon-azuredatalakestore { background-image:url('../images/AzureDataLake.svg');}
.app-icon.app-icon-adlssync { background-image:url('../images/AzureDataLake.svg');}
.app-icon.app-icon-azuremanagement { background-image:url('../images/AzureDataManagement.svg');}
.app-icon.app-icon-1010data { background-image:url('../images/C1010.svg');}
.app-icon.app-icon-chatter { background-image:url('../images/SalesforceChatter.svg');}
.app-icon.app-icon-ibmcloudan{ background-image:url('../images/Cloudant.svg');}
.app-icon.app-icon-googleadwords { background-image:url('../images/DZ.svg');}
.app-icon.app-icon-adwords { background-image:url('../images/DZ.svg');}
.app-icon.app-icon-doubleclick { background-image:url('../images/GoogleCM.svg');}
.app-icon.app-icon-bigquery { background-image:url('../images/GoogleBigQuery.svg');}
.app-icon.app-icon-gcalendar { background-image:url('../images/GoogleCalendar.svg');}
.app-icon.app-icon-gcloudsql { background-image:url('../images/GoogleCloudSQL.svg');}
.app-icon.app-icon-dfp { background-image:url('../images/GoogleAdsManager.svg');}
.app-icon.app-icon-google { background-image:url('../images/GoogleSearch.svg');}
.app-icon.app-icon-gapps { background-image:url('../images/GoogleSearch.svg');}
.app-icon.app-icon-gsheets { background-image:url('../images/GoogleSheets.svg');}
.app-icon.app-icon-hana { background-image: url('../images/SAPHANA.svg');}
.app-icon.app-icon-hpccsystems { background-image: url('../images/HPCC.svg');}
.app-icon.app-icon-excelmarketo { background-image:url('../images/Marketo.svg');}
.app-icon.app-icon-moneyforwardexpense { background-image:url('../images/MFExpense.svg');}
.app-icon.app-icon-microsoftteams { background-image:url('../images/msteams.svg');}
.app-icon.app-icon-oraclemarketingcloud { background-image:url('../images/OracleSalesCloud.svg');}
.app-icon.app-icon-qbonline { background-image:url('../images/QuickBooksOnline.svg');}
.app-icon.app-icon-qbpos { background-image:url('../images/QuickBooksPOS.svg');}
.app-icon.app-icon-amazonredshift { background-image:url('../images/RedShift.svg');}
.app-icon.app-icon-sagebusinesscloudaccounting { background-image:url('../images/sagebcaccounting.svg');}
.app-icon.app-icon-sageuk { background-image:url('../images/Sage50UK.svg');}
.app-icon.app-icon-concur { background-image:url('../images/SAPConcur.svg');}
.app-icon.app-icon-saphybris { background-image:url('../images/SAPHybrisC4C.svg');}
.app-icon.app-icon-einstein { background:url('../images/SFEinsteinAnalytics.svg');}
.app-icon.app-icon-salesforcesc { background:url('../images/SFSalesCloud.svg');}
.app-icon.app-icon-salesforcemarketing { background:url('../images/SFMarketingCloud.svg');}
.app-icon.app-icon-spark { background-image:url('../images/SparkSQL.svg');}
.app-icon.app-icon-terradata { background-image:url('../images/Tera_x_data.svg');}
.app-icon.app-icon-microsoftsharepoint { background-image: url('../images/SharePoint.svg');}
.app-icon.app-icon-db2as400 { background-image: url('../images/DB2.svg');}
.app-icon.app-icon-azuread { background-image: url('../images/ActiveDirectory.svg');}
.app-icon.app-icon-raiseredgenxt { background-image: url('../images/blackbaudraisersedgenx.svg');}
.app-icon.app-icon-domino { background-image: url('../images/hcldomino.svg');}
.app-icon.app-icon-informix { background-image: url('../images/ibminformix.svg');}
.app-icon.app-icon-kingdeek3wise { background-image: url('../images/kingdee.svg');}
.app-icon.app-icon-reckonaccountshosted { background-image: url('../images/Reckon.svg');}
.app-icon.app-icon-sasdatasets { background-image: url('../images/sasdatsets.svg');}
.app-icon.app-icon-azuredatalakestoredestination { background-image: url('../images/AzureDataLake.svg');}
.app-icon.app-icon-informix { background-image: url('../images/ibminformix.svg');}
.app-icon.app-icon-amazons3storage { background-image:url('../images/AmazonS3.svg');}
.app-icon.app-icon-azureblobstorage { background-image:url('../images/AzureBlob.svg');}
.app-icon.app-icon-azuredatalakestorage { background-image:url('../images/AzureDataLake.svg');}
.app-icon.app-icon-googlecloudstorage { background-image:url('../images/googlecloudstorage.svg');}
.app-icon.app-icon-microsoftonelakestorage { background-image:url('../images/MicrosoftOneLake.svg');}
.app-icon.app-icon-azureonelake { background-image:url('../images/MicrosoftOneLake.svg');}
.app-icon.app-icon-localfilestorage { background-image:url('../images/folder.svg');}
.app-icon.app-icon-couchbasesync {background-image:url('../images/Couchbase.svg');}
.app-icon.app-icon-microsoftonelakemirroring {background-image:url('../images/MicrosoftOneLake.svg');}
.app-icon.app-icon-netsuitesuiteanalytics {background-image:url('../images/NetSuite.svg');}
