<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Note: As an alternative to hand editing this file you can use the 
web admin tool to configure settings for your application. Use
the Website->Asp.Net Configuration option in Visual Studio.
A full list of settings and comments can be found in 
machine.config.comments usually located in 
\Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
    </assemblyBinding>
  </runtime>
  <system.web>
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="3DES" decryption="3DES" />
    <!--  This allows very large, slow requests to be processed. -->
    <httpRuntime maxRequestLength="2097151" executionTimeout="21600" requestValidationMode="2.0" enableVersionHeader="false" />
    <authentication mode="Forms">
      <forms name="Arc" path="/" loginUrl="~/login.rst" protection="All" timeout="30" defaultUrl="~/default.rst">
      </forms>
    </authentication>
    <authorization>
      <!-- CHANGE THIS TO ALLOW THE SAME USERNAME AS ABOVE -->
      <allow roles="cdata_user,cdata_support,cdata_standard,cdata_admin" />
      <deny users="*" />
    </authorization>
    <!-- Handlers for RSSBus Scripts and Templates -->
    <httpHandlers>
      <add verb="GET,PUT,POST,DELETE,MERGE,HEAD,OPTIONS" path="*.rsb" type="RSSBus.RSBScript" />
      <add verb="GET,PUT,POST,DELETE,PATCH,MERGE,HEAD,OPTIONS" path="*.rsc" type="RSSBus.RSBDataCollection" />
      <add verb="GET,PUT,POST,DELETE,PATCH,MERGE,HEAD,OPTIONS" path="*.rsd" type="RSSBus.RSBData" />
      <add verb="GET" path="ping.rst" type="RSSBus.RSBTemplateReturnErrors" />
      <add verb="GET,POST,HEAD" path="*.rst" type="RSSBus.RSBTemplate" />
    </httpHandlers>
    <customErrors mode="On" defaultRedirect="~/error.rst" />
    <httpCookies httpOnlyCookies="true" />
    <sessionState timeout="10" />
    <httpModules>
      <remove name="FileAuthorization" />
    </httpModules>
    <compilation tempDirectory="C:\ProgramData\CData\arc-tmp" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="WebDAV" />
      <add name="*.rsb_GET,PUT,POST,DELETE,MERGE,HEAD,OPTIONS" path="*.rsb" verb="GET,PUT,POST,DELETE,MERGE,HEAD,OPTIONS" type="RSSBus.RSBScript" />
      <add name="*.rsc_GET,PUT,POST,DELETE,PATCH,MERGE,HEAD,OPTIONS" path="*.rsc" verb="GET,PUT,POST,DELETE,PATCH,MERGE,HEAD,OPTIONS" type="RSSBus.RSBDataCollection" />
      <add name="*.rsd_GET,PUT,POST,DELETE,PATCH,MERGE,HEAD,OPTIONS" path="*.rsd" verb="GET,PUT,POST,DELETE,PATCH,MERGE,HEAD,OPTIONS" type="RSSBus.RSBData" />
      <add name="ping.rst_GET" path="ping.rst" verb="GET" type="RSSBus.RSBTemplateReturnErrors" />
      <add name="*.rst_GET,POST,HEAD" path="*.rst" verb="GET,POST,HEAD" type="RSSBus.RSBTemplate" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="WebDAVModule" />
      <remove name="ScriptModule-4.0" />
      <remove name="FileAuthorization" />
    </modules>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <add value="default.rst" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <location path="api.rsc">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="api.rst">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="flowapi.rsc">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="favicon.ico">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="includes">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="pub">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="as2connector/pub/ReceiveFile.rsb">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Receiver.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ui">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="port">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="connector">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="src/admin">
    <system.web>
      <authorization>
        <allow roles="cdata_admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="src/standard">
    <system.web>
      <authorization>
        <allow roles="cdata_standard,cdata_admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="src/pub">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="src/ssoCallback.rst">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.CData.MySQL" />
      <add name="CData ADO.NET Provider for MySQL" invariant="System.Data.CData.MySQL" description="CData ADO.NET Provider for MySQL" type="System.Data.CData.MySQL.MySQLProviderFactory, System.Data.CData.MySQL" />
      <remove invariant="System.Data.CData.Access" />
      <add name="CData ADO.NET Provider for Access" invariant="System.Data.CData.Access" description="CData ADO.NET Provider for Access" type="System.Data.CData.Access.AccessProviderFactory, System.Data.CData.Access" />
      <remove invariant="System.Data.CData.Excel" />
      <add name="CData ADO.NET Provider for Excel" invariant="System.Data.CData.Excel" description="CData ADO.NET Provider for Excel" type="System.Data.CData.Excel.ExcelProviderFactory, System.Data.CData.Excel" />
      <remove invariant="System.Data.CData.PostgreSQL" />
      <add name="CData ADO.NET Provider for PostgreSQL" invariant="System.Data.CData.PostgreSQL" description="CData ADO.NET Provider for PostgreSQL" type="System.Data.CData.PostgreSQL.PostgreSQLProviderFactory, System.Data.CData.PostgreSQL" />
      <remove invariant="System.Data.CData.Salesforce" />
      <add name="CData ADO.NET Provider for Salesforce" invariant="System.Data.CData.Salesforce" description="CData ADO.NET Provider for Salesforce" type="System.Data.CData.Salesforce.SalesforceProviderFactory, System.Data.CData.Salesforce" />
      <remove invariant="System.Data.CData.Shopify" />
      <add name="CData ADO.NET Provider for Shopify" invariant="System.Data.CData.Shopify" description="CData ADO.NET Provider for Shopify" type="System.Data.CData.Shopify.ShopifyProviderFactory, System.Data.CData.Shopify" />
      <remove invariant="System.Data.CData.ApacheKafka" />
      <add name="CData ADO.NET Provider for ApacheKafka" invariant="System.Data.CData.ApacheKafka" description="CData ADO.NET Provider for ApacheKafka" type="System.Data.CData.ApacheKafka.ApacheKafkaProviderFactory, System.Data.CData.ApacheKafka" />
      <remove invariant="System.Data.CData.BigCommerce" />
      <add name="CData ADO.NET Provider for BigCommerce" invariant="System.Data.CData.BigCommerce" description="CData ADO.NET Provider for BigCommerce" type="System.Data.CData.BigCommerce.BigCommerceProviderFactory, System.Data.CData.BigCommerce" />
      <remove invariant="System.Data.CData.ZohoCRM" />
      <add name="CData ADO.NET Provider for ZohoCRM" invariant="System.Data.CData.ZohoCRM" description="CData ADO.NET Provider for ZohoCRM" type="System.Data.CData.ZohoCRM.ZohoCRMProviderFactory, System.Data.CData.ZohoCRM" />
      <remove invariant="System.Data.CData.NetSuite" />
      <add name="CData ADO.NET Provider for NetSuite" invariant="System.Data.CData.NetSuite" description="CData ADO.NET Provider for NetSuite" type="System.Data.CData.NetSuite.NetSuiteProviderFactory, System.Data.CData.NetSuite" />
      <remove invariant="System.Data.CData.QuickBooksOnline" />
      <add name="CData ADO.NET Provider for QuickBooksOnline" invariant="System.Data.CData.QuickBooksOnline" description="CData ADO.NET Provider for QuickBooksOnline" type="System.Data.CData.QuickBooksOnline.QuickBooksOnlineProviderFactory, System.Data.CData.QuickBooksOnline" />
      <remove invariant="System.Data.CData.ShipStation" />
      <add name="CData ADO.NET Provider for ShipStation" invariant="System.Data.CData.ShipStation" description="CData ADO.NET Provider for ShipStation" type="System.Data.CData.ShipStation.ShipStationProviderFactory, System.Data.CData.ShipStation" />
      <remove invariant="System.Data.CData.AmazonMarketplace" />
      <add name="CData ADO.NET Provider for AmazonMarketplace" invariant="System.Data.CData.AmazonMarketplace" description="CData ADO.NET Provider for AmazonMarketplace" type="System.Data.CData.AmazonMarketplace.AmazonMarketplaceProviderFactory, System.Data.CData.AmazonMarketplace" />
      <remove invariant="System.Data.CData.D365BusinessCentral" />
      <add name="CData ADO.NET Provider for D365BusinessCentral" invariant="System.Data.CData.D365BusinessCentral" description="CData ADO.NET Provider for D365BusinessCentral" type="System.Data.CData.D365BusinessCentral.D365BusinessCentralProviderFactory, System.Data.CData.D365BusinessCentral" />
      <remove invariant="System.Data.CData.SageIntacct" />
      <add name="CData ADO.NET Provider for SageIntacct" invariant="System.Data.CData.SageIntacct" description="CData ADO.NET Provider for SageIntacct" type="System.Data.CData.SageIntacct.SageIntacctProviderFactory, System.Data.CData.SageIntacct" />
      <remove invariant="System.Data.CData.WooCommerce" />
      <add name="CData ADO.NET Provider for WooCommerce" invariant="System.Data.CData.WooCommerce" description="CData ADO.NET Provider for WooCommerce" type="System.Data.CData.WooCommerce.WooCommerceProviderFactory, System.Data.CData.WooCommerce" />
      <remove invariant="System.Data.CData.ExactOnline" />
      <add name="CData ADO.NET Provider for ExactOnline" invariant="System.Data.CData.ExactOnline" description="CData ADO.NET Provider for ExactOnline" type="System.Data.CData.ExactOnline.ExactOnlineProviderFactory, System.Data.CData.ExactOnline" />
      <remove invariant="System.Data.CData.Tally" />
      <add name="CData ADO.NET Provider for Tally" invariant="System.Data.CData.Tally" description="CData ADO.NET Provider for Tally" type="System.Data.CData.Tally.TallyProviderFactory, System.Data.CData.Tally" />
      <remove invariant="System.Data.CData.SQL" />
      <add name="CData ADO.NET Provider for SQL" invariant="System.Data.CData.SQL" description="CData ADO.NET Provider for SQL" type="System.Data.CData.SQL.SQLProviderFactory, System.Data.CData.SQL" />
      <remove invariant="System.Data.CData.SharePoint" />
      <add name="CData ADO.NET Provider for SharePoint" invariant="System.Data.CData.SharePoint" description="CData ADO.NET Provider for SharePoint" type="System.Data.CData.SharePoint.SharePointProviderFactory, System.Data.CData.SharePoint" />
      <remove invariant="System.Data.CData.Stripe" />
      <add name="CData ADO.NET Provider for Stripe" invariant="System.Data.CData.Stripe" description="CData ADO.NET Provider for Stripe" type="System.Data.CData.Stripe.StripeProviderFactory, System.Data.CData.Stripe" />
      <remove invariant="System.Data.CData.Square" />
      <add name="CData ADO.NET Provider for Square" invariant="System.Data.CData.Square" description="CData ADO.NET Provider for Square" type="System.Data.CData.Square.SquareProviderFactory, System.Data.CData.Square" />
      <remove invariant="System.Data.CData.Odoo" />
      <add name="CData ADO.NET Provider for Odoo" invariant="System.Data.CData.Odoo" description="CData ADO.NET Provider for Odoo" type="System.Data.CData.Odoo.OdooProviderFactory, System.Data.CData.Odoo" />
      <remove invariant="System.Data.CData.Snowflake" />
      <add name="CData ADO.NET Provider for Snowflake" invariant="System.Data.CData.Snowflake" description="CData ADO.NET Provider for Snowflake" type="System.Data.CData.Snowflake.SnowflakeProviderFactory, System.Data.CData.Snowflake" />
      <remove invariant="System.Data.CData.Databricks" />
      <add name="CData ADO.NET Provider for Databricks" invariant="System.Data.CData.Databricks" description="CData ADO.NET Provider for Databricks" type="System.Data.CData.Databricks.DatabricksProviderFactory, System.Data.CData.Databricks" />
      <remove invariant="System.Data.CData.Dynamics365" />
      <add name="CData ADO.NET Provider for Dynamics365" invariant="System.Data.CData.Dynamics365" description="CData ADO.NET Provider for Dynamics365" type="System.Data.CData.Dynamics365.Dynamics365ProviderFactory, System.Data.CData.Dynamics365" />
      <remove invariant="System.Data.CData.FHIR" />
      <add name="CData ADO.NET Provider for FHIR" invariant="System.Data.CData.FHIR" description="CData ADO.NET Provider for FHIR" type="System.Data.CData.FHIR.FHIRProviderFactory, System.Data.CData.FHIR" />
      <remove invariant="System.Data.CData.ZohoInventory" />
      <add name="CData ADO.NET Provider for ZohoInventory" invariant="System.Data.CData.ZohoInventory" description="CData ADO.NET Provider for ZohoInventory" type="System.Data.CData.ZohoInventory.ZohoInventoryProviderFactory, System.Data.CData.ZohoInventory" />
      <remove invariant="System.Data.CData.Kintone" />
      <add name="CData ADO.NET Provider for Kintone" invariant="System.Data.CData.Kintone" description="CData ADO.NET Provider for Kintone" type="System.Data.CData.Kintone.KintoneProviderFactory, System.Data.CData.Kintone" />
      <remove invariant="System.Data.CData.AdobeCommerce" />
      <add name="CData ADO.NET Provider for AdobeCommerce" invariant="System.Data.CData.AdobeCommerce" description="CData ADO.NET Provider for AdobeCommerce" type="System.Data.CData.AdobeCommerce.AdobeCommerceProviderFactory, System.Data.CData.AdobeCommerce" />
      <remove invariant="System.Data.CData.Redis" />
      <add name="CData ADO.NET Provider for Redis" invariant="System.Data.CData.Redis" description="CData ADO.NET Provider for Redis" type="System.Data.CData.Redis.RedisProviderFactory, System.Data.CData.Redis" />
      <remove invariant="System.Data.CData.Redshift" />
      <add name="CData ADO.NET Provider for Redshift" invariant="System.Data.CData.Redshift" description="CData ADO.NET Provider for Redshift" type="System.Data.CData.Redshift.RedshiftProviderFactory, System.Data.CData.Redshift" />
      <remove invariant="System.Data.CData.Acumatica" />
      <add name="CData ADO.NET Provider for Acumatica" invariant="System.Data.CData.Acumatica" description="CData ADO.NET Provider for Acumatica" type="System.Data.CData.Acumatica.AcumaticaProviderFactory, System.Data.CData.Acumatica" />
      <remove invariant="System.Data.CData.ActOn" />
      <add name="CData ADO.NET Provider for ActOn" invariant="System.Data.CData.ActOn" description="CData ADO.NET Provider for ActOn" type="System.Data.CData.ActOn.ActOnProviderFactory, System.Data.CData.ActOn" />
      <remove invariant="System.Data.CData.AdobeAnalytics" />
      <add name="CData ADO.NET Provider for AdobeAnalytics" invariant="System.Data.CData.AdobeAnalytics" description="CData ADO.NET Provider for AdobeAnalytics" type="System.Data.CData.AdobeAnalytics.AdobeAnalyticsProviderFactory, System.Data.CData.AdobeAnalytics" />
    </DbProviderFactories>
  </system.data>
  <!-- AppDb: The AppDb can be explcitly configured to specify the location of an application database 
  where transaction and log information is stored. Any reachable database can be configured, provided that the 
  providerName is set to a supported database provider (SQL and SQLite), and the connectionString is a 
  valid connection string to the database. 
  
  The default databases provided with Arc are SQLite databases named app_logs.db (for application logs) and 
  app_transactions.db (for transaction history) that are located in the \www\app_data\ subfolder of the 
  application installation path. -->
  <!-- connectionStrings>
    <add 
      name="AppDb" 
      connectionString="server=localhost;database=sqlserver;user=MyUserName;password=MyPassword;" 
      providerName="System.Data.CData.SQL"
   />
  </connectionStrings -->
  <!-- AppDirectory: The AppDirectory can be explicitly configured to specify the location on disk where 
  application data is stored. A network location may be used if the identity assigned to the application pool hosting
  Arc has modify privileges for that location. 
  
  The application directory defaults to C:\ProgramData\CData\Arc -->
  <!-- appSettings>
    <add key="AppDirectory" value="C:\directory\subdirectory\subdirectory\" />
  </appSettings -->
  <appSettings>
    <add key="AppDirectory" value="C:\Program Files\CData\v26" />
  </appSettings>
</configuration>