.form-builder {
  padding: 0;
  background: #fff;
  width: calc(100% - 15px); /* form-group has margin-right: -15px*/
}

.flow-settings-sm .form-builder {
  padding-right: 15px;
}

.ui-draggable-dragging:hover {
  box-shadow: none;
}

/*
Form Designer
*/

.form-designer {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 7px 28px rgba(50, 50, 93, 0.1), 0 2px 10px rgba(0, 0, 0, 0.07);
  padding: 15px;
  z-index: 1;
}

.form-designer-btn-group {
  display: inline-block;
  margin-bottom: 20px;
  width: 60%;
}

.form-designer-form-container {
  width: 100%;
}

.form-designer-form-title {
  padding: 0 0 6px 0;
  margin: 0 0 18px;
  background-color: white;
}

.form-designer-form-title input {
  border: none;
  box-shadow: none;
  font-size: 24px;
  padding: 6px 0;
  text-overflow: ellipsis;
}

.form-designer .form-designer-template {
  width: calc(40% - 5px);
  float: right;
}

.form-designer .btn-template-link, .form-designer .btn-back {
  margin-bottom: 20px;
  float: right;
  cursor: pointer;
}

.form-designer .btn-template-link {
  padding: 6px 12px;
  width: 4%;
}

.form-designer .form-designer-template .span-template-link {
  width: 10%;
}

.form-designer .form-designer-template .dropdown {
  display: initial;
  width: 100%;
  float: right;
}

.form-designer .form-designer-template .template-list {
  width: 100%;
}

.form-designer .form-designer-template .btn-group.open .template-list {
  display: table;
}

.form-designer .form-designer-template .input-group-text {
  width: 34px;
  height: 32px;
  display: inline;
  float: left;
}

.form-designer .form-designer-template .template-list {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 32px;
  width: calc(100% - 34px);
}

.form-designer-box {
  position: relative;
}

.form-designer-form-group {
  background: #f9f9f9;
  padding: 20px;
  border: 1px solid #e6e6e6;
  position: relative;
}

.form-designer-box-title {
  font-size: 15px;
  font-weight: 500;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-bottom: none;
  cursor: move;
}

.form-designer-box-title-name {
  border: none;
  background: #f9f9f9;
  font-size: 17px;
  font-weight: 500;
  width: 80%;
  text-overflow: ellipsis;
}

.form-designer-box-title-name, .form-designer-box-icon {
  margin: 5px;
}

.form-designer-box-icon-delete {
  cursor: pointer;
  color: #afafaf;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  display: none;
}

.form-designer-box-icon-delete:hover {
  color: #303030;
}

.form-designer-box:hover .form-designer-box-icon-delete {
  display: block;
}

.form-designer-form-icon-add-row {
  color: #afafaf;
  position: relative;
  left: 49%;
  transform: translateY(-50%);
  width: 24px;
}

.form-designer-form-icon-add-row:hover  {
  color: #2990d2;
}

.form-designer-form-icon-add-row i {
  font-size: 24px;
  cursor: pointer;
}

.form-designer-form-icon, .form-designer-row-icon {
  z-index: 4;
}

.form-designer-form-icon .popover, .form-designer-row-icon .popover {
  color: black;
  width: max-content;
}

.form-designer-row-container {
  border: 1px solid #ddd;
  border-top: none;
  background: #f1f1f1;
}

.form-designer-row {
  width: 100%;
  min-height: 52px;
  position: relative;
  display: flex;
}

.form-designer-row:last-child {
  margin-bottom: 10px;
}

.form-designer-row.form-designer-section-row {
  min-height: 0;
}

.form-designer-row::before, .form-designer-row::after {
  content: " ";
  display: table;
}

.form-designer-row::after {
  clear: both;
}

.form-designer-row-icon {
  position: absolute;
  right: -11px;
  top: 50%;
  transform: translateY(-7px);  /*Center vertically.*/
  display: none;
  cursor: pointer;
}

.form-designer-row:hover .form-designer-row-icon {
  display: block;
}

.form-designer-row-icon i {
  font-size: 24px;
  color: #d4d4d4;
}

.form-designer-row-icon:hover i {
  color: #ff8686;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
}

.form-designer-col {
  cursor: move;
  min-height: 40px;
  margin-top: 10px;
  padding: 0 10px;
  z-index: 2;
}

.form-designer-col.form-section-col {
  min-height: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .form-designer-col.col-md-offset-6 {
    margin-left: 50%;
  }
}

.form-designer-item {
  position: relative;
}

.form-designer-item-title {
  font-weight: 500;
  color: #676767;
  border: 1px solid #ddd;
  padding: 10px 16px;
  background: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.form-designer-item:hover .form-designer-item-title {
  padding-right: 40px;
}

.form-designer-item-title label {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

.form-designer-item:hover label {
  padding-right: 18px;
}

.form-designer-item-icon {
  color: #afafaf;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  cursor: pointer;
}

.form-designer-item-icon .popover {
  width: max-content;
}

.form-designer-item:hover .form-designer-item-icon {
  display: block;
}

.form-designer-item-icon:hover {
  color: #303030;
}

.form-designer-item-icon-delete {
  right: 25px;
}

.form-designer-item-icon-edit {
  right: 40px;
  padding-top: 2px;
}

/*
Form Source
*/

.form-source-container, .flow-settings-sm .form-source-container {
  position: sticky;
  top: 20px;
  z-index: 2;
}

.form-source {
  background: #96a8b3;
  box-shadow: 0 7px 28px rgba(50, 50, 93, 0.1), 0 2px 10px rgba(0, 0, 0, 0.07);
  padding: 15px 20px;
  color: white;
  z-index: 3;
}

.form-source.affix {
  position: sticky;
  top: 25px;
  right: calc(2em + 8px); /* 8px is scroll bar's width */
}

.flow-settings-sm .form-source.affix {
  position: inherit;
  top: 0;
  left: 0 !important;
}

.form-source .list-group {
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
}

.form-source .list-group::-webkit-scrollbar {
  height:4px;
  width:8px;
}

.form-source .list-group::-webkit-scrollbar-thumb {
  background-color:#5E6B73;
}

.form-source .list-group::-webkit-scrollbar-thumb:hover {
  background-color:#909090;
}

.form-source .list-group::-webkit-scrollbar-track-piece {
  background-color:#ccc;
}

.form-source .list-group li {
  font-weight: 500;
  color: #676767;
  cursor: move;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  min-height: 40px;
}

.form-source .list-group li:hover {
  padding-right: 40px;
}

.form-source .list-group li span {
  cursor: text;
}

.form-source .form-source-icon-edit {
  right: 25px;
}

.form-source .form-source-icon-delete {
  right: 10px;
}

.form-source .form-source-icon-edit, .form-source .form-source-icon-delete {
  position: absolute;
  top: 14px;
  cursor: pointer;
  display: none;
}

.form-source .list-group li:hover .form-source-icon-edit, .form-source .list-group li:hover .form-source-icon-delete {
  display: inline-block;
}

.form-source .list-group li.list-item-undraggable {
  background-color: #e6e6e6;
  cursor: not-allowed;
}

.form-source .list-group-item-field-input {
  color: black;
  width: 100%;
}
/*
Form User View
*/
.form-userview-form .form-data-input {
  width: 100%;
}

.form-userview-form .table-container {
  padding-bottom: 10px;
}

.form-userview-form .table-container th, .form-userview-form .table-container td {
  min-width: 250px;
}

.form-userview-form .table-container th {
  word-wrap: break-word;
}

.form-userview-form {
  background-color: #ffffff;
}

.form-designer-preview .form-userview-form {
  padding: 0;
}

.form-userview-form .table-container .inside-down-td {
  background-color: white;
}


.form-userview-table-icon-add-row {
  color: #afafaf;
  text-align: center;
  padding-top: 5px;
  display: inline-block;
  margin-left: calc(50% - 12px);
  width: 24px;
  display: block;
}

.form-userview-table-icon-add-row:hover  {
  color: #2990d2;
}

.form-userview-table-icon-add-row i {
  font-size: 24px;
  cursor: pointer;
}

.form-userview-form .subform-inside-btn {
  float: right;
}

.form-userview-form .subform-inside-btn button {
  margin: 5px;
}

.form-userview-subform-table thead tr th {
  cursor: default;
}

.form-userview-subform-table tbody .subform-row td {
  cursor: text;
}

.form-userview-form .placeholder-row {
  height: 72px; /*Label + Input + margin-bottom*/
}

.form-userview-form .form-userview-emptyrow {
  height: 50px;
}

.form-userview-row-icon {
  display: none;
  cursor: pointer;
  margin-top: -25px;
  margin-right: 10px;
}

.form-public .subform-row.subform-row-editing .form-userview-row-icon, .form-public .subform-row.subform-row-editing:hover .form-userview-row-icon {
  display: none;
}

.form-public .subform-row:hover .form-userview-row-icon {
  display: block;
}

.form-userview-row-icon i {
  font-size: 16px;
  color: #d4d4d4;
}

.form-userview-row-icon:hover i {
  color: #ff8686;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
}

.form-userview-form .form-group label,
.form-userview-form .page-header,
.form-userview-form h3
{
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (min-width: 768px) {
  .form-userview-item.col-md-offset-6 {
    margin-left: 50%;
  }
}


/*
Form Result Modal
*/
.form-result-modal-content, .form-result-modal-footer {
  text-align: center;
}

.form-result-modal-header, .form-result-modal-footer {
  padding: 15px;
}

.form-result-modal-header i {
  font-size: 70px;
}

.form-result-modal-header i.form-failure-result-icon {
  color: red;
}

.form-result-modal-header i.form-success-result-icon {
  color: green;
}

.form-result-modal-body {
  font-size: 24px;
  white-space: pre-line;
}
