.migration-madal-title {
  margin-top: 5px;
}

.migration-nav-bar {
  /* position: relative; */
}

.modal .tab-content {
  padding-top: 20px;
}

.migration-select-text {
  width: auto;
  cursor: pointer;
}

.customize-row {
  flex: 0 0 auto;
  width: 100%;
  padding-left: 0 !important;
}

.workspace-content {
  max-height: 500px;
  overflow-y: auto;
}

table.migration-import-table {
  border-collapse: separate;
  border: 1px solid #ced4da;
  margin-bottom: 0;
  border-radius: 0.375rem;
}

table.migration-import-table.migration-import-multiple-table {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.migration-import-table .migration-table-inside-row {
  background-color: #fafafa;
}

.migration-import-table .migration-table-inside-row td {
  padding: 0 0 0 10px !important;
}

.migration-table-group {
  margin-bottom: 10px;
}

.migration-replace-dropdown-icon {
  padding-left: 10px;
}

.migration-table-group .dropdown li {
  cursor: pointer;
}

.migration-import-table .table-header-confilct {
  width: 180px;
}

.migration-import-table .table-header-existing {
  width: 300px;
}

.migration-import-table tr td:not(:last-child), .migration-import-table tr th:not(:last-child) {
  border-right: 1px solid #ced4da;
}

.migration-import-table tr th, .migration-import-table tr:not(:last-child) td {
  border-bottom: 1px solid #ced4da;
}

.migration-import-table td, .migration-import-table th {
  padding: 0.5rem 10px !important;
  border-bottom: none;
  vertical-align: middle;
}

.migration-api-group {
  margin-bottom: 10px;
}

.migration-api-group .customize-item {
  margin-bottom: 0 !important;
}

.migration-api-group .customize-item:not(:first-child) {
  border-top-width: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.migration-api-group .customize-item:not(:last-child), .migration-table-group .customize-item:not(:last-child) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.customize-item {
  border: 1px solid #ced4da;
  padding: 0.6rem 1rem;
  border-radius: 0.375rem;
}

.migration-table-group .customize-item, .migration-api-group .customize-item {
  margin-bottom: 0 !important;
  position: relative;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 10px;
}

.migration-table-group .customize-item {
  padding-right: 135px;
}

.migration-api-group .customize-item {
  padding-right: 35px;
}
.customize-item .app-icon, .customize-item .api-method {
  padding-left: 10px;
  margin-left: 10px;
}

.customize-item span {
  padding-right: 10px;
  font-weight: 700;
}

.customize-item.migration-api-connector span {
  font-weight: 500;
}

.customize-item.migration-api-connector {
  padding-left: 50px;
}

.customize-item .api-method, .migration-import-table .api-method, .migration-import-table .app-icon {
  font-weight: 400;
  border-radius: 4px;
  margin: 0px 4px;
  display: inline-block;
  text-align: center;
}

.migration-import-table .api-method, .migration-import-table .app-icon {
  padding-left: 10px;
  padding-right: 10px;
}

.customize-item .api-method.GET, .migration-import-table .api-method.GET {
  background-color: #DCDCDC;
  color: #333333;
}

.customize-item .api-method.POST, .migration-import-table .api-method.POST {
  background-color: #DFF0D8;
  color: #3C763D;
}

.customize-item .api-method.PUT, .customize-item .api-method.PATCH, .migration-import-table .api-method.PUT, .migration-import-table .api-method.PATCH {
  background-color: #DDECF6;
  color: #177CB8;
}

.customize-item .api-method.DELETE, .migration-import-table .api-method.DELETE {
  background-color: #F2DEDE;
  color: #A94442;
}

.migration-collapse-icon {
  cursor: pointer;
}

.migration-collapse-icon {
  position: absolute;
  right: 10px;
  top: 9px;
}
 .migration-conflict-icon {
  float: right;
}

.migration-conflict-icon {
  color: #177CB8;
  padding-right: 0 !important;
}

.settings-content .customize-item:not(:last-child), .workspace-content .customize-item:not(:last-child) {
  margin-bottom: 10px;
}

.migration-modal-value-text p {
  color: #8A8A8A;
  padding-top: 5px;
  margin-bottom: 0;
  line-height: 18px;
}

.migration-replace {
  font-weight: 400 !important;
  cursor: pointer;
}

.migration-replace-group-title {
  position: absolute;
  right: 30px;
  top: 10px;
}

.migration-existing-item, .migration-import-item {
  display: flex;
  align-items: center;
}

.migration-existing-item .migration-existing-text, .migration-import-item .migration-import-text {
  display: grid;
  padding-left: 10px;
  word-break: break-all;
  word-wrap: break-word;
}

.migration-existing-item .migration-existing-text .migration-existing-workspace {
  color: #8A8A8A;
}

.migration-import-item.migration-import-api-connector {
  padding-left: 30px !important;
  word-break: break-all;
  word-wrap: break-word;
}