.connection-panel-container {
    overflow: hidden !important;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -6px;
}

.connection-panel-container .endpoint-container {
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
}

.connection-panel-container .endpoint-container.target {
    top: 0px;
    right: 9px;
}

.connection-panel-container .endpoint-container .endpoint {
    list-style: none;
    height: 32px;
    width: 0px;
    padding: 0px;
    margin: 0px;
}
.connection-panel-container .jtk-endpoint {
    z-index: 4;
}

.connection-panel-container .jtk-endpoint svg {
    cursor: pointer;
    z-index: 4;
}

.connection-panel-container .jtk-endpoint svg circle {
    r: 4;
    fill: #fff;
    stroke: #4d4d4d;
}

.connection-panel-container .jtk-endpoint-connected svg circle {
    fill: #456;
    stroke: none;
}

.connection-panel-container .jtk-overlay {
    visibility: hidden;
    display: none;
    font-size: 10px;
    padding: 0px 3px;
}

.connection-panel-container .jtk-overlay.jtk-hover, .jtk-source-hover + .jtk-overlay, .jtk-target-hover + .jtk-overlay {
    visibility: visible;
    display: block;
    font-weight: bold;
}
