.inline-block { display: inline-block;  }  
.mapping-editor-masker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .1;
  z-index: 1054;
  visibility: hidden;
  display: none;
}
.rsb-disable {
  position: relative;
}
.rsb-disable>div.mapping-editor-masker {
  visibility: visible;
  display: block;
  cursor: not-allowed;
}
.mapping-editor-title {
  display:block !important;
  padding: 5px 0 !important;
  border-bottom: 1px solid #e5e5e5 !important;
}
.mapping-editor-left {
  padding-right: 0px;
}
.mapping-editor-left>.btn-group {
  padding-top: 4px;
}
.mapping-editor-left>.btn-group>button {
  padding-bottom: 2px;
}
.mapping-editor-tree {
  height: 660px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  overflow-y: auto;
  min-width: 100px;
}
.mapping-editor-tree::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
.mapping-editor-tree::-webkit-scrollbar-thumb {
  background-color: #CCC;
}
.mapping-editor-tree::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
.mapping-editor-tree>li {
  list-style-type: none;
  position: relative;
  left: -10px;
}
.mapping-editor-tree li>div {
  padding: 10px 0px 0px 10px;
  position: relative;
}
.mapping-editor-tree>li>div {
  padding-top: 4px;
}
.mapping-editor-tree ul {
  padding-left: 14px;
  list-style-type: none;
  position: relative;
}
.mapping-editor-tree ul>li {
  border-left: 1px solid #ccc;
  margin-left: 10px;
}
.mapping-editor-tree ul>li>div::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  bottom: calc(50% - 6px);
  width: 18px;
  border: 1px solid #ccc;
  border-top: 0 none transparent;
  border-right: 0 none transparent;
}
.mapping-editor-tree ul>li:last-child {
  border-left: 1px solid transparent;
}
.mapping-editor-tree li>div>span.table-alias {
  padding: 2px 5px;
}
.mapping-editor-tree li.active>div>span.table-alias {
  background: #e4e4e4;
}
.mapping-editor-tree i.fa.fa-table { padding-left: 8px; }
.mapping-editor-tree i.fa.fa-remove { padding-right: 4px; }
.mapping-editor-tree li>div:hover>.hover-opacity { opacity: 1 !important; }
.mapping-editor-tree .hover-opacity { opacity: 0 !important; display: inline !important; }
.column-panel>.panel-heading {
  background-color: white;
}
.mapping-editor-right .mapping-editor-code-btn {
  border-bottom-right-radius: 3px !important;
  border-top-right-radius: 3px !important;
}
.mapping-editor-right .mapping-editor-builder .rules-group-container {
  border: 1px solid #e5e5e5 !important;
  background: none !important;
}
.mapping-editor.input .mapping-editor-tree {
  height: 568px;
}
.mapping-editor-right .columns-panel .panel-heading {
  padding: 0px 0px 5px 0px;
}
.mapping-editor-right .columns-panel .panel-heading table tr th {
  padding-left: .5em;
  padding-right: .5em;
}
.mapping-editor-right .columns-panel>.panel-body {
  height: 220px;
  max-height: 220px;
  overflow-y: auto;
  padding: 0px;
}
.mapping-editor.input .mapping-editor-right .columns-panel>.panel-body {
  height: 530px !important;
  max-height: 530px !important;
  overflow-y: auto;
}
.mapping-editor-right .columns-panel td.column-key>i.fa {
  margin-top: 3px;
  float: right;
}
.mapping-editor-right .mapping-editor-builder>div.rules-group-container {
  height: 180px;
  max-height: 180px;
  overflow-y: auto;
}
.mapping-editor-right .dropdown-menu {
  max-height: 150px !important;
  overflow-x: hidden;
}
.mapping-editor input[type="checkbox"] {
  position: relative;
  vertical-align: bottom;
  top: -1px;
  margin-bottom: 4px;
}
.mapping-editor-right .mapping-editor-builder .rule-value-container>.input-group>.input-group-btn>div>button { padding: 6px 8px; }
.mapping-editor-right .mapping-editor-builder .rule-value-container>.input-group>input.input-group-const { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.mapping-editor-right select.order-by-column { max-width: 200px; }
.mapping-editor-right select.order-by-rule { margin-left: 20px; }
.mapping-editor-advanced>div.checkbox {
  padding-left: 14px;
}
.mapping-editor-advanced>div.checkbox>label {
  display: block !important;
}
.mapping-editor-advanced .processchangesonly-container .mapping-editor-processchangesonly-settings.automatic,
.mapping-editor-advanced .processchangesonly-container.automatic .mapping-editor-processchangesonly-settings.manually {
  visibility: hidden;
  display: none;
}
.mapping-editor-advanced .processchangesonly-container.automatic .mapping-editor-processchangesonly-settings.automatic {
  top: -6px !important;
  visibility: visible;
  display: inline;
}
.mapping-editor-advanced .processchangesonly-container.automatic {
  padding-top: 12px;
}
.mapping-editor-advanced input.advanced-checkbox {
  top: -6px !important;
  margin-right: 2px;
}
.mapping-editor-advanced select {
  max-width: 200px;
}
.mapping-editor-advanced input {
  max-width: 172px;
}
.mapping-editor-advanced .checkbox.hidden+.checkbox {
  margin-top: 10px !important;
}
.mapping-editor-right .columns-panel .panel-body table  tr td.column-name span.badge {
  margin: 0 2px;
  transform: scale(0.8);
  font-size: 12px;
  font-weight: normal;
  background-color: #177cb8;
}
.mapping-editor-right .columns-panel td.column-name span.span-toggle {
  max-width: 250px;
}
.mapping-editor-right .columns-panel td.column-name .btn-toggle {
  float: right;
  margin-top: 2px;
}
.mapping-editor-right .columns-panel td.column-name .btn-toggle span {
  color: #4d4d4d;
  margin-left: -108px;
}
.btn-toggle.btn-sm {
  margin: 0 6px;
  padding: 0;
  position: relative;
  border: none;
  height: 18px;
  width: 48px;
  border-radius: 18px;
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle.btn-sm:focus, .btn-toggle.btn-sm:focus.active {
  outline: none;
}
.btn-toggle.btn-sm:before, .btn-toggle.btn-sm:after {
  line-height: 18px;
  width: 6px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
  font-size: 12px;
  transform: scale(0.8);
}
.btn-toggle.btn-sm:before {
  content: 'Off';
  left: -6px;
}
.btn-toggle.btn-sm:after {
  content: 'On';
  right: -6px;
  opacity: 0.5;
}
.btn-toggle.btn-sm > .handle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 13px;
  height: 13px;
  border-radius: 13px;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-sm.active {
  background-color: #177cb8;
  transition: background-color 0.25s;
}
.btn-toggle.btn-sm.active > .handle {
  left: 32px;
  transition: left 0.25s;
}
.btn-toggle.btn-sm:before, .btn-toggle.btn-sm:after {
  color: #fff;
  width: 28px;
}
.btn-toggle.btn-sm:before {
  left: 13px;
  text-align: right;
}
.btn-toggle.btn-sm:after {
  left: 5px;
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.mapping-editor-right .code-view {
  visibility: hidden;
  display: none;
  padding: 0px;
  margin-top: -10px;
}
.mapping-editor-right.code .code-view {
  visibility: visible;
  display: block;
}
.mapping-editor-right.code .edit-view, .mapping-editor-right.unfilterable .edit-view.filter {
  visibility: hidden;
  display: none;
}
.mapping-editor-right .loading-status {
  visibility: hidden;
  display: none;
}
.mapping-editor-right.loading .loading-status {
  visibility: visible;
  display: block;
}
.mapping-editor-right.loading>.btn-group, .mapping-editor-right.loading .columns-panel {
  visibility: hidden;
  display: none;
}
.mapping-editor-right.unfilterable .columns-panel>.panel-body {
  height: auto;
  max-height: 608px;
}
.mapping-editor-right.no-custom-query:not(.unfilterable) .mapping-editor-query-section {
  visibility: hidden;
  display: none;
}
.mapping-editor-right.no-custom-query:not(.unfilterable) .columns-panel>.panel-body {
  height: 280px;
  max-height: 280px;
}
.mapping-editor-right.no-custom-query:not(.unfilterable) .mapping-editor-builder>div.rules-group-container {
  height: 216px;
  max-height: 216px;
  overflow-y: auto;
}
.mapping-editor-right .code-view .CodeMirror {
  height: 645px !important;
}

.mapping-editor.input .mapping-editor-right .code-view .CodeMirror {
  height: 565px !important;
}

.flow-settings-sm .mapping-editor-tree {
  height: auto !important;
  min-height: 60px;
  max-height: 500px;
  margin-bottom: 20px;
}
.flow-settings-sm .mapping-editor-right .columns-panel>.panel-body {
  height: auto !important;
}
.flow-settings-sm .mapping-editor-right select.order-by-column, .mapping-editor-right select.order-by-rule {
  width: auto !important;
}

@media only screen and (max-width: 767px) {
  .mapping-editor-tree {
    height: auto !important;
    min-height: 60px;
    max-height: 500px;
    margin-bottom: 20px;
  }
  .mapping-editor-right .columns-panel>.panel-body {
    height: auto !important;
  }
  .mapping-editor-right select.order-by-column, .mapping-editor-right select.order-by-rule {
    width: auto !important;
    float: left;
  }
}
